---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import project1Image from '@assets/images/project-1.png';
import project2Image from '@assets/images/project-2.png';
import project3Image from '@assets/images/project-3.png';
import Tags from '@components/ui/Tags.astro';

const projects = await getCollection('projects', ({ data }) => !data.inProgress);
---

<section data-testid="projects-full-image" id="projects-full-image" class="mb-10 flex flex-col items-center justify-center">
    <h2 class="font-monospace text-2xl text-orange lg:text-4xl">Projets en images pleines</h2>
    <span class="mb-10 h-1 w-10 bg-orange"></span>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 w-full">
        {projects.map((project) => (
            <div class="rounded-xl overflow-hidden shadow-lg hover:scale-105 transition bg-white">
                <a 
                    href={project.data.link} 
                    target="_blank" 
                    rel="noopener" 
                    aria-label="lien vers le projet"
                    class="block"
                >
                    {project.data.image ? (
                        project.slug === 'project-1' ? (
                            <Image 
                                src={project1Image} 
                                alt={project.data.img_alt || 'Image du projet'} 
                                width={400}
                                height={400}
                                class="w-full h-auto object-cover"
                            />
                        ) : project.slug === 'project-2' ? (
                            <Image 
                                src={project2Image} 
                                alt={project.data.img_alt || 'Image du projet'} 
                                width={400}
                                height={400}
                                class="w-full h-auto object-cover"
                            />
                        ) : project.slug === 'project-3' ? (
                            <Image 
                                src={project3Image} 
                                alt={project.data.img_alt || 'Image du projet'} 
                                width={400}
                                height={400}
                                class="w-full h-auto object-cover"
                            />
                        ) : (
                            <img 
                                src={project.data.image} 
                                alt={project.data.img_alt || 'Image du projet'} 
                                class="w-full h-auto object-cover"
                            />
                        )
                    ) : (
                        <img 
                            src="/default-image.png" 
                            alt="Image par défaut" 
                            class="w-full h-auto object-cover"
                        />
                    )}
                    <div class="mt-1 p-4">
                        <h3 class="text-xl text-orange lg:text-2xl">{project.data.title}</h3>
                        <p class="text-s text-black">{project.data.description}</p>
                        <Tags tags={project.data.tags} />
                    </div>
                </a>
            </div>
        ))}
    </div>
</section>